
@{
    ViewBag.Title = "iView";
    Layout = "~/Views/Shared/_M4.cshtml";
}

<!--
    bg-primary  backgroung color Sky-Blue
    text-light  text white
    text-center text in center
    p-2 padding-top, padding-right, padding-bottom, padding-left at level-2
-->

<h5 class="bg-primary text-light text-center p-2">
    return View("iView");    return ViewName that are different from action of Controller.
</h5>

