
@{
    ViewBag.Title = "NotSpecifyViewName";
    Layout = "~/Views/Shared/_M4.cshtml";
}

<<h5 class="bg-primary text-light text-center p-2">
    return View();    return ViewName that are the same from action of Controller.
</h5>